<section id="kunst" class="domein container-fluid">
    <h2 class="col-md-12">Kunst</h2>
    {{#each tags}}
		{{#is tag "kunst"}}
			{{#each pages}}
				<article class="opleiding col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<h3><a href="{{data.url}}" title="secundair na secundair: {{data.title}} leren in de provincie Antwerpen">{{data.title}}</a></h3>
					<p>{{data.summary}}</p>
					<p><a href="{{data.url}}" title="De sense opleiding: {{data.title}} studeren in de provincie Antwerpen">{{data.title}} studeren?</a></p>
				</article>
			{{/each}}
		{{/is}}
    {{/each}}
</section>