<section id="techniek-en-wetenschap" class="domein">
    <h2>Techniek en Wetenschap</h2>
    {{#each tags}}
		{{#is tag "techniek-en-wetenschap"}}
			{{#each pages}}
				<article>
					<h3><a href="{{data.url}}" title="secundair na secundair: {{data.title}} leren in de provincie Antwerpen">{{data.title}}</a></h3>
					<p>{{data.summary}}</p>
					<p><a href="{{data.url}}" title="De sense opleiding: {{data.title}} studeren in de provincie Antwerpen">Meer over {{data.title}}</a></p>
				</article>
			{{/each}}
		{{/is}}
    {{/each}}
</section>